In [1]:
import pandas as pd
df = pd.read_csv('test.csv', sep = ";", skipinitialspace = True)
# supprimer les lignes avec Nan
index_with_nan = df.index[df.isnull().any(axis=1)]
df.drop(index_with_nan,0, inplace=True)
df.dropna
# supprimer les espaces sur les noms des colonnes
# ex : prix maison 
# prix_maison

<bound method DataFrame.dropna of        Prénom  Âge   Voiture      Sexe        Loisirs
0       Alice   28  Peurgeot   Féminin  Jouer au foot
1     Clément   26  Mercedes  Masculin      Jardinage
3  Christophe   27      Clio  Masculin    Jeux vidéos
6      kylian   27    Subaru  Masculin    Gastronomie>